#search-btn {
  margin: 30px;
  border-radius: 20px;
}


#cards {
  margin: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 30px;
}

#button-mini {
  margin: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

